Source: sch-scripts
Section: admin
Priority: optional
Maintainer: Dimitrys <demetresmeliates@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0
Rules-Requires-Root: binary-targets
Vcs-Git: https://github.com/Educational-Tools/Sch-Scripts.git
Vcs-Browser: https://github.com/Educational-Tools/Sch-Scripts
Homepage: https://github.com/Educational-Tools/Sch-Scripts

Package: sch-scripts
Architecture: all
Pre-depends:
    epoptes,
    openssh-server
Depends:
    python3:any,
    python3-gi,
    python3-pip
Description: Διαχείριση Σχολικού Συστήματος
 Παρέχει ένα σύνολο εξαρτήσεων για την αυτοματοποίηση της εγκατάστασης
 σχολικών εργαστηρίων, και ένα γραφικό περιβάλλον που υποστηρίζει διαχείριση
 λογαριασμών χρηστών, δημιουργία εικονικού δίσκου LTSP κ.α.
 .
 Πολλά από τα συμπεριλαμβανόμενα βοηθήματα προσανατολίζονται σε LTSP
 εγκαταστάσεις, αλλά το πακέτο είναι χρήσιμο και χωρίς LTSP.
