Source: sch-scripts
Section: admin
Priority: optional
Maintainer: Hellenic Schools Technical Support Team <devs@ts.sch.gr>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0
Rules-Requires-Root: no
Vcs-Git: https://gitlab.com/sch-scripts/sch-scripts.git
Vcs-Browser: https://gitlab.com/sch-scripts/sch-scripts
Homepage: https://sch-scripts.gitlab.io

Package: sch-scripts
Architecture: all
Pre-depends:
 epoptes,
 openssh-server
Depends: ${misc:Depends},
 iputils-arping,
 libgtk-3-0,
 librsvg2-common,
 policykit-1,
 python3:any,
 python3-gi,
 setpriv | util-linux (>= 2.32.1-0.2)
Recommends: adobe-flashplugin,
 bindfs,
 dnsmasq,
 epoptes,
 ethtool,
 hardinfo,
 ltsp,
 ltsp-binaries,
 net-tools,
 nfs-kernel-server,
 openssh-server,
 p7zip-rar,
 squashfs-tools,
 synaptic
Description: Διαχείριση ΣΕΠΕΗΥ
 Παρέχει ένα σύνολο εξαρτήσεων για την αυτοματοποίηση της εγκατάστασης
 σχολικών εργαστηρίων, και ένα γραφικό περιβάλλον που υποστηρίζει διαχείριση
 λογαριασμών χρηστών, δημιουργία εικονικού δίσκου LTSP κ.α.
 .
 Πολλά από τα συμπεριλαμβανόμενα βοηθήματα προσανατολίζονται σε LTSP
 εγκαταστάσεις, αλλά το πακέτο είναι χρήσιμο και χωρίς LTSP.
