#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	chmod -x debian/sch-scripts.install
	chmod -x usr/sch-scripts/*.py
	chmod -x usr/sch-scripts/*.sh
	echo "__version__='$(DEBVERS)'" > "$(CURDIR)/debian/sch-scripts/usr/share/sch-scripts/version.py"

override_dh_installinit:
	dh_installinit --name=shared-folders

override_dh_installgsettings:
	dh_installgsettings --priority=50

override_dh_systemd_enable:
	dh_systemd_enable --name=shared-folders
