#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	cp install.sh debian/install.sh
	chmod +x debian/install.sh
	dh_install
	chmod +x debian/sch-scripts.postinst
	chmod +x share/sch-scripts/*
	echo "__version__='$(DEBVERS)'" > "$(CURDIR)/debian/sch-scripts/usr/share/sch-scripts/version.py"