[Unit]
Description=User Defaults Deamon
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/share/sch-scripts/scripts/user-defaults.sh

[Install]
WantedBy=graphical-session.target