# This file is part of LTSP, https://ltsp.org
# Copyright 2019 the LTSP team, see AUTHORS
# SPDX-License-Identifier: GPL-3.0-or-later
[Unit]
Description=Shared folders
Documentation=man:shared-folders(8)
After=network-online.target home.mount
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/shared-folders
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
