[Unit]
Description=User Defaults Service
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=forking
User=root

ExecStart=/usr/local/sbin/user-defaults

[Install]
WantedBy=graphical-session.target