[Unit]
Description=User Defaults Service
After=graphical-session.target

[Service]
Type=oneshot
User=root
Environment=DISPLAY=:0

ExecStart=/usr/sbin/user-defaults